#tagcloud{
  width: 100%;
  max-width: 100%;
  /* min-width: 600px; */
  /* min-height: 500px; */
  /* max-height: 500px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* border: 1px solid black; */
  overflow: auto;
  text-align: justify;
}
#tagcloud span{
	text-decoration:none;
	#color:#4d4d4d;
	padding:3px;
	display:inline-block;
	#border: 1px solid #ccc;
	margin:3px;
    font-weight: normal;
	background: white;
}
/*==========*/
body{ background-color: beige; }
.panel, .panel-heading{
	border-radius: 0px;
}
#about{ font-size: 1.12em; line-height: 1.5em; }
.alert-custom, .panel-heading{ color:white !important; }
#job1 .panel-heading, #job2 .panel-heading{ background-color:rgb(23, 131, 178); }
#internships .panel-heading{ background-color:#21C0CD; }
#education .panel-heading{ background-color:#58CA62; }
#personal-info .panel-heading, #contact-info .panel-heading{ background-color:#666666; }
#skills .panel-heading{ background-color:#EF9F0F; }
#activities .panel-heading{ background-color:#D23636; }
#awards_and_honours .panel-heading{ background-color:#29315d; }
.alert-custom{ background-color: darkkhaki }